<!DOCTYPE html>

<html>

<head>
    <title>Pace & Crux</title>
    <link rel="stylesheet" href="/style.css">
</head>



<body>

    <h1>Pace & Crux</h1>
    <h2>Fueling and tracking for climber-runners</h2>

    <a class="settings-icon" href="/settings">⚙️</a>

    <form action="/submit" method="POST">

        <label>Workout Type</label>
        <select name="workoutType">
            <option>Running</option>
            <option>Climbing</option>
            <option>Gym</option>
            <option>Rehab</option>
        </select>

        <label>Duration (minutes)</label>
        <input type="number" name="duration">


        <label>Food Eaten</label>
        <input type="text" id="food" placeholder="banana, eggs, chicken breast">

        <button type="button" id="analyzeFoodBtn">Analyze Nutrition</button>
        <button type="button" id="addFoodBtn">Add Food</button>

        <div class="macro-grid">
            <div class="macro-card">
                <p>Calories</p>
                <h3 id="calories">--</h3>
            </div>

            <div class="macro-card">
                <p>Protein</p>
                <h3 id="protein">--</h3>
            </div>

            <div class="macro-card">
                <p>Carbs</p>
                <h3 id="carbs">--</h3>
            </div>

            <div class="macro-card">
                <p>Fat</p>
                <h3 id="fat">--</h3>
            </div>
        </div>

        <h3>Food List</h3>
        <ul id="foodList"></ul>

        <input type="hidden" name="food" id="foodInput">
        <input type="hidden" name="calories" id="caloriesInput">
        <input type="hidden" name="protein" id="proteinInput">
        <input type="hidden" name="carbs" id="carbsInput">
        <input type="hidden" name="fat" id="fatInput">




        <label>Pain Level (0-10)</label>
        <input type="number" name="painLevel" min="0" max="10">

        <label>Rehab Exercise</label>
        <input type="text" name="rehab">

        <label>Planned Workout</label>
        <input type="text" name="plannedWorkout">

        


        <label>Location</label>
        <input type="text" id="citySearch" placeholder="Search city">
        <div id="suggestions"></div>

        <button type="button" id="locationBtn">
            Use Current Location
        </button>

        <input type="hidden" name="latitude" id="latitude">
        <input type="hidden" name="longitude" id="longitude">
        <input type="hidden" name="city" id="city">


        <label>Notes</label>
        <textarea name="notes"></textarea>

        <button type="submit">Submit</button>

    </form>

    <script src="/js/main.js"></script>
</body>

</html>